body {
	background-color: rgba(229,240,220);
	font-family: 'Book Antiqua';
	color: rgba(51,48,48);
}

input, textarea {
	background-color: rgba(204,238,154);
}

h1 {
	font-size:220%;
	color: rgba(97,23,2);
	border-bottom: 2px solid #611702;
	width: 400px;
	text-align: center;
}

p, ul {
	font-family: 'Century Gothic';
	font-weight: bold;
}

li {
	font-size:90%;
}

h2 {
	font-size:180%;
	color: rgba(97,23,2);
}

h3 {
	font-size:150%;
	color: rgba(97,23,2);
}

h4 {
	font-size:120%;
	color: rgba(97,23,2);
}

#Receita {
	display:flex;
	flex-wrap:wrap;
	justify-content: center;
}

#Receita img {
	border: 1px solid #333030;
	margin: 10px;
	transition: all 1s;
}

#Receita img:hover {
	transform: scale(1.1);
}

#Doces {
	display:inline-block; width:20%; padding:10px;
	line-height: 10%;
	font-size:90%;
}

#Superior img {
	border: 0;
}